%h1 Listing cards

%table
  %tr
    %th Color
    %th Family
    %th Number
    %th
    %th
    %th

  - @cards.each do |card|
    %tr
      %td= card.color
      %td= card.family
      %td= card.number
      %td= link_to 'Show', card
      %td= link_to 'Edit', edit_card_path(card)
      %td= link_to 'Destroy', card, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Card', new_card_path
